{% extends 'ent/base.html' %}


{% load crispy_forms_tags %}

{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}

{% block content %}




<div id="addQuestion">
  <div class="col-sm-8 form-group-lg">

  {% if validlink %}
    <h2>Change password</h2>
    <br/>
    <form method="post">
      {% csrf_token %}

    <div>
      {% if form.new_password1 %}
      {{ form.new_password1 }}<br>
      {% endif %}
      </div>

    <div>
      {% if form.new_password2 %}
      {{ form.new_password2 }}<br>
      {% endif %}
      </div>

      <button class="btn btn-success">Change password</button>
    </form>
    </div>
</div>
    <br/><br/><br/>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}





{% block java %}
  <script>

var new_password1 = document.querySelector('#id_new_password1');
var new_password2 = document.querySelector('#id_new_password2');



new_password1.setAttribute('class', 'form-control');
new_password1.setAttribute('placeholder', 'New password');
new_password2.setAttribute('class', 'form-control');
new_password2.setAttribute('placeholder', 'New password confirmation');

new_password1.required = true;
new_password1.required = true;

var error = document.querySelector('li');
error.style.color = red;

    </script>
    {% endblock %}