{% extends 'ent/base.html' %}



{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}



{% block content %}
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'user_login' %}">sign in</a> now.
  </p>
{% endblock %}
