{% extends 'ent/base.html' %}
{% load crispy_forms_tags %}

{% block container %}


<div id="set1" style="display:unset">

     <div class="limiter">


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div>
                <strong id='err'>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

            <div class="container-login100">
              <div class="wrap-login100 normal">


              {% if form %}
                <form method="post" action="{% url 'signup_view' %}" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                  {% csrf_token %}
                  <span class="login100-form-title">
                    Sign Up
                  </span>

                  <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.username }}

                    <span class="focus-input100"></span>
                  </div>
                  {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.username.errors }}</div>
                  {% endif %}


                  <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.first_name }}

                    <span class="focus-input100"></span>
                  </div>

                   <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.last_name }}

                    <span class="focus-input100"></span>
                  </div>

                   <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.email }}

                    <span class="focus-input100"></span>
                  </div>
                  {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.email.errors }}</div>
                  {% endif %}

                  <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.phoneNumber }}

                    <span class="focus-input100"></span>
                  </div>
                  {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.phoneNumber.errors }}</div>
                  {% endif %}

                   <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.password1 }}

                    <span class="focus-input100"></span>
                  </div>

                   <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.password2 }}


                    <span class="focus-input100"></span>
                  </div>
                  {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.errors.password2 }}</div>
                  {% endif %}



                  <div class="text-right p-t-13 p-b-23">
                    <span class="txt1">
                      Forgot
                    </span>

                    <a href="#" class="txt2">
                      Username / Password?
                    </a>
                  </div>

                  <div class="container-login100-form-btn">
                    <button id="submitt" class="login100-form-btn">
                      Sign up
                    </button>
                  </div>
                  <br>

                  {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <br>
                  {% endif %}

                  <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt1 p-b-9">
                      Already have an account?
                    </span>

                    <a href="{% url 'user_login' %}" class="txt3">
                      Login
                    </a>
                  </div>
                </form>
                {% endif %}
              </div>
            </div>
          </div>

          <hr>

        </div> <!-- /container -->
{% endblock %}


{% block java %}
  <script>
        var username = document.querySelector('#id_username');
        var first_name = document.querySelector('#id_first_name');
        var last_name = document.querySelector('#id_last_name');
        var email = document.querySelector('#id_email');
        var phone = document.querySelector('#id_phoneNumber');
        var password1 = document.querySelector('#id_password1');
        var password2 = document.querySelector('#id_password2');
        var phoneNumber = document.querySelector('#id_phoneNumber');
        var label = document.createElement('label');

        username.setAttribute('placeholder',"Username");
        username.setAttribute('class', 'input100');
        first_name.setAttribute('placeholder',"Firstname");
        first_name.setAttribute('class', 'input100');
        last_name.setAttribute('placeholder',"Lastname");
        last_name.setAttribute('class', 'input100');
        email.setAttribute('placeholder',"Email");
        email.setAttribute('class', 'input100');
        phone.setAttribute('placeholder',"Phone Number");
        phone.setAttribute('class', 'input100');
        password1.setAttribute('placeholder',"Password");
        password1.setAttribute('class', 'input100');
        password2.setAttribute('placeholder',"Confirm Password");
        password2.setAttribute('class', 'input100');
        phoneNumber.setAttribute('type', 'number');

        username.required = true;
        first_name.required = true;
        last_name.required = true;
        email.required = true;
        phone.required = true;
        password1.required = true;
        password2.required = true;
        phoneNumber = true;

        var error = document.querySelector('#err');
        error.style.color = red;

    </script>
    {% endblock %}