/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(17, 17, 17, 0.952);
    --shadow1: 0 1px 8px rgba(17, 17, 17, 0.952);
  }

html {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
color: var(--dark);
}

body {
    background: #c2c2c2;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.4;
}


.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }

  img {
    max-width: 100%;
  }

  .wrapper {
    display: grid;
    grid-gap: 20px;
  }

/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #333333;
    box-shadow: var(--shadow);
}

nav a {
    /*background: var(--primary);*/
    display: block;
    text-decoration: none;
    padding: 0.2rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

nav a:hover {
    background: var(--light);
    color: var(--dark);
  }

.logo {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.nav-links {
    z-index: 99;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

.lines {
    display: none;
    cursor: pointer;
}

.lines div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    margin-left: 8px;
    transition: all 0.3s ease;
}






















.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
.search-container {
    float: none;
  }
.search-container input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}










/* Top Container */

#set1 {
    margin: 10px;
    display: grid;
    grid-gap: 20px;
}

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto 25%;
    grid-template-areas:
      'showcase showcase top-box-a'
      'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem; /*try 2rem for mobile*/
    margin-bottom: 0;
    color: var(--light);
    text-shadow: var(--shadow);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
    text-shadow: var(--shadow);
}

/* Top Box */
.top-box {
    background: var(--primary);
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.box a {
    color: var(--dark);
}

.box a:hover{
    color: rgba(51, 51, 51, 0.514);
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.info {
    background: #c2c2c2;
box-shadow: var(--shadow);
display: grid;
grid-gap: 30px;
grid-template-columns: repeat(2, 1fr);
padding: 3rem;
}

/* Portfolio */
.portfolio {
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
width: 100%;
box-shadow: var(--shadow);
}

/* Footer */
footer {

margin-top: 2rem;
background-color: #333333;
color: var(--light);
text-align: center;
padding: 1rem;
}
 footer p {
    color: var(--light);
 }

.contact1 {
    grid-area: contact;
    padding: 30px;
    border-radius: 50px;
    border: 3px solid #f9f2f2;
    background: #333333d6;
    box-shadow: var(--shadow1);
}

.flep {
    display: flex;
    flex-direction: row;
}

.contact1 h1 {
    color: white;
}

#btnn {
    color: #ffff;
    background: #d41313;
    border-radius: 20px;
    text-shadow: var(--shadow);
    cursor: pointer;
}

input#btnn {
    background: orange;
}

input#btnn:hover {
    background: #ffa50094;
}

input#btnn:active {
    background: #100707bf;
}

#hint_id_name {
    color: #ffffff66;
}


.active {
    background: #ffffff66;
}

.errorlist li {
    color: red;
}


#id_category, #id_title, #id_description, #id_status, #id_form-0-image  {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;
}

.container-login100 {
    background-color: #ffffffc7

}

.wrap-login100 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: unset;

}
.move {
    position: relative;

    border-bottom: 2px solid #333333;
}

.more {
    position: relative;

    border-bottom: 2px solid #333333;
}
.water {
    border-radius: 0px;
     margin: 17px;
}

.crop {
    width: 100%;
    text-align: center;
}

.new {
    text-align: center;
}

.p-t-170 {
    padding-top: 0px;
}



a:hover {
    text-decoration: none;
    color: #ffffff;
}

a.txt2 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #f56a6a;
    line-height: 1.4;
}

a.txt3 {
    color: #ed0000
}



a.txt3:hover {
    text-decoration: none;
    color: #1b3815;
}

.login100-form-title {
    font-family: JosefinSans-Bold;

    background-color: #333333;
}

.login100-form-btn {
    background-color: #333333;
}

.login100-form-btn:hover {
    background-color: #7e7e7e;
}

#increase {
    font-weight: bolder;
    font-family: RammettoOne-Regular;
}

#addQuestion{

    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #707070;
    border-color: #707070;
}


.alert-success {

    color: #155724;
    background-color: #a4f0b6;
    border-color: #434444;

}


.alert-error {

    color: #571515;
    background-color: #f0a4a4;
    border-color: #444343;

}

.alert-info {

    color: #574515;
    background-color: #f0dea4;
    border-color: #444443;

}

#amntt {
    font-weight: bold;

}

#amnt {
    color: #c40606;

}


@media screen and (max-width:1048px){
    .nav-links {
        width: 55%;
        z-index: 99;
    }

    .top-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
          'showcase showcase top-box-a'
          'showcase showcase top-box-b';
    }


}

@media screen and (max-width:718px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        z-index: 99;
        position: absolute;
        left: 0px;
        height: 92vh;
        top: 6vh;
        background-color: var(--dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .lines {
        display: block;
        z-index: 200;

    }
    .top-container {
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-areas:
          'showcase showcase'
          'top-box-a top-box-b';
      }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}


@media (max-width: 300px) {
    .showcase h1 {
        font-size: 1.5rem;
    }

    .showcase p {
        font-size: 0.8rem;
    }

    .logo {
        width: 100px;
    }


}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}